/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  header h1 {
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main Content */
  .gallery {
    text-align: center;
    margin: 20px;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .image-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-container img {
    max-width: 100%;
    border-radius: 8px;
    height:300px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #218838;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
    }
  
    .image-gallery {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .image-gallery {
      grid-template-columns: 1fr;
    }
  }
  